<%- include('header') -%>


    <div class="gifTennis">
        <p>VOUS CHERCHEZ UN CLUB DE TENNIS CONVIVIAL</p>
        <p>AVEC UNE ÉQUIPE SYMPATHIQUE,</p>
        <p>À L’ÉCOUTE ET PASSIONNÉE ?</p>
    </div>

    <div class="page">
        <div class="fondRoger">
            <h2>3 BONNES RAISONS DE NOUS REJOINDRE</h2>
            <div class="accueil1">
                <img src="/images/logoannee.png" alt="Logo Année">
                <h3>JOUER DURANT TOUTE L’ANNEE</h3>
                <p>Des <span>terrains couverts</span> et de</p>
                <p>qualité pour <span>jouer au tennis</span></p>
                <p>durant</p>
                <p>toute l’année, <span>7 jours sur 7</span>.</p>
            </div>
            <div class="accueil2">
                <img src="/images/logoniv.png" alt="Logo niveau">
                <h3>AMELIOREZ VOTRE NIVEAU DE JEU</h3>
                <p>Un <span>professeur motivé et passionné</span> pour jouer au</p>
                <p>tennis</p>
                <p>dans une <span>ambiance conviviale</span> ce qui</p>
                <p>vous permettra</p>
                <p>d’améliorer votre niveau de jeu tout en vous <span>amusant</span>.</p>
            </div>
            <div class="accueil3">
                <img src="/images/logotennis.png" alt="Logo raquette">
                <h3>PARTICIPEZ AUX STAGES</h3>
                <p>Des stages <span>jeunes et adultes à</span></p>
                <p>toutes les <span>vacances scolaires</span>.</p>
            </div>
        </div>
    </div>




    <%- include('footer') -%>
