<%- include('header') -%>


        <div class="theme-background">
            <h3 class="theme-heading">LES INFRASTRUCTURES</h3>

            <div class="theme-section">
                <div class=theme-court1>
                    <p>2 terrains extérieurs, en enrobé poreux</p>
                    <img class="theme-image" src="/images/courtExterieur.jpg" alt="court tennis exterieur">
                </div>

                <div class="theme-court2">
                    <p>2 terrains couverts, en surface résine.</p>
                    <img class="theme-image" src="/images/courtInterieur.jpg" alt="court tennis interieur">
                </div>
            </div>

            <div class="theme-club">
                <div>
                    <h3 class="theme-heading">LE CLUB</h3>
                    <p>Le Tennis Club de Grandchamp est une association sportive « loi 1901 » et est affilié à la Fédération Française de Tennis depuis 1992. Le Tennis Club de Grandchamp se veut avant tout convivial et a pour ambition de fédérer ses adhérents
                        au sein d’une ambiance agréable pouvant regrouper les adeptes de la compétition mais également les joueuses et joueurs souhaitant simplement se faire plaisir.</p>
                </div>
            </div>

            <div class="theme-coach">
                <div>
                    <h3 class="theme-heading">LE COACH</h3>
                    <img src="/images/COACH.jpg" alt="coach" class="theme-image-coach">
                    <p class="theme-subheading">PETIT Damien</p>
                </div>
                <div class="mot-coach">
                    <h4 class="theme-mot">Le mot du coach :</h4>
                    <p> "L’objectif est tout d’abord d'optimiser l'état d'esprit club, familial, déjà bien présent chez les adultes et de le développer chez les jeunes. Au niveau sportif à moyen terme, j’espère que le TC Grandchamp aura une équipe jeune dans
                        chaque catégorie, de 8 à 18 ans, chez les filles et les garçons. Chez les adultes, l'accession au niveau régional pour les équipes 1ères doit pouvoir se faire à moyen terme également. Etant un grand passionné de tennis, j’espère
                        faire profiter à toutes et tous, petits et grands, de mon amour pour la petite balle jaune!"</p>
                    <p class="theme-mot">Damien</p>
                </div>
            </div>
        </div>



    <%- include('footer') -%>
