</main>

<footer>

    <aside class="slider-container">
        <h3>LES SPONSORS</h3>
        <div class="slider-track">
            <div class="slider-item">
                <a href="https://www.asics.com/fr/en-fr/" target="_blank">
                <img src="/images/sponsor1.png" alt="Logo Asics">
            </a>
            </div>
            <div class="slider-item">
                <a href="https://www.nike.com/fr/" target="_blank">
                <img src="/images/sponsor2.png" alt="Logo Nike">
                </a>
            </div>
            <div class="slider-item">
                <a href="https://www.reebok.eu/fr-fr" target="_blank">
                <img src="/images/sponsor3.png" alt="Logo Reebok">
                </a>
            </div>
            <div class="slider-item">
                <a href="https://www.mercedes-amg.com/en/home.html" target="_blank">
                <img src="/images/sponsor4.png" alt="Logo AMG">
                </a>
            </div>
            <div class="slider-item">
                <a href="https://www.rolandgarros.com/fr-fr/" target="_blank">
                <img src="/images/sponsor5.png" alt="Logo Rolland Garros">
                </a>
            </div>
            <div class="slider-item">
                <a href="https://www.atptour.com/en/" target="_blank">
                <img src="/images/sponsor6.png" alt="Logo ATP tour">
                </a>
            </div>
        </div>
    </aside>

    <section class="footTennis">
        <div class="mention">
            <p>©2023 - tous droits réservés</p>
            <p>Fédération Française de Tennis</p>
            <p>Mentions légales et conditions générales d'utilisation</p>
        </div>
        <h2 class="logDams">TC DamS</h2>
        <a href="/">
    <img src="/images/logoclubTennis.png" alt="Logo Club">
    </a>
    </section>

</footer>

<script src="/script.js"></script>

</body>

</html>
