<!DOCTYPE html>
<html>
    <head>
        <title>ClubTennis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
</html>
<body>
    <header>
         <img src=""></img>
            <h1>TC DamS</h1>
         <nav>
            <ul>
                <li>
                    <a href="/">ACCUEIL</a></li>
                <li>
                    <a href="club">CLUB</a></li>
                <li>
                    <a href="inscription">INSCRIPTION</a></li>
                <li>
                    <a href="contact">CONTACT</a></li>
                     <li>
                    <a href="/login">SE CONNECTER</a></li>
            </ul>
        </nav>
    </header>