<%- include('header') -%>
   
        <section class="content">
            <h2>Votre formulaire a bien été transmis</h2>
            <a href="/">
                <button>Revenir à l'accueil</button>
            </a>
        </section>
    
    <%- include('footer') -%>
