<%- include('header') -%>
  <main role="main">
    <section>
      <h1>Votre formulaire a bien été transmis</h1>
      <a href="/">
        <button>Revenir à l'accueil</button>
      </a>
    </section>
  </main>
<%- include('footer') -%>